base_image_id        = "/subscriptions/<SUBSCRIPTION_ID>/resourceGroups/<RG_NAME>/providers/Microsoft.Compute/images/<IMAGE_NAME>"
location             = "eastus"
resource_group_name  = "ci-cd-production-rg"
admin_username       = "azureuser"
production_public_key = "ssh-rsa ..........redacted........ azureuser@production"